# GoDaddy Mail SMTP Configuration
GODADDY_SMTP_HOST=smtpout.secureserver.net
GODADDY_SMTP_PORT=465
GODADDY_EMAIL_USER=office@stmtinternationalschool.com
GODADDY_EMAIL_PASS=boroMAABABA123@
NOTIFICATION_RECEIVER=office@stmtinternationalschool.com
